.light, .light > body {
    background-color: var(--background-color) !important;
}

#searchform {
    z-index: 99999;
}

.focus-outline:focus {
    outline: 2px solid hotpink;
}

/* really bad piece of code */
/* will break eventually */
/* there is div covering the images in faq popup */
.mckXgb {
    display: none;
}

#loaded {
    overflow: hidden;
    width: 100%;
}

#loaded-inner {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 68em) {
    #loaded-inner {
        width: 1080px;
        max-width: 1080px;
    }
    #loaded {
        width: 1080px;
        overflow: scroll;
    }
}