.light, .light > body {
    background-color: var(--background-color) !important;
}

#searchform {
    z-index: 99999;
}

@media (min-width: 68em) {
    #loaded-inner {
        width: 1080px;
        max-width: 1080px;
    }
}