html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 300px;
    height: max-content;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
}

body > header {
  user-select: none;
  background-color: #fff;
  padding: 1rem;
  max-height: 96px;
  overflow: hidden;
  position: relative;
}

.header-cursor {
  position: absolute;
  bottom: 15px;
  right: 25%;

  width: 50px;
  height: 50px;
}

h1 {
  color: #5E33A7;
  text-decoration: underline;
  font-size: 1.5rem;
}

main > header {
  height: 100px;
}

footer nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  margin-bottom: 1rem;
  font-size: .9rem;
  text-decoration: none;
  opacity: .5;
  transition: all .2s ease;
}

footer nav a:hover {
  opacity: 1;
}

footer nav a {
  gap: .5rem;
}

button {
  width: 47%;
  padding: .5rem .75rem;
  cursor: pointer;
  background: transparent;

  border: 1px solid transparent;
  color: white;
  border-radius: 100px;
}

button:active {
  outline: 1px solid white;
}

button:hover {
  border-color: white;
}

.flex {
  display: flex;
  gap: .5rem;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.w-full {
  width: 100%;
}

main {
  height: calc(100% - 50px);
  width: 100%;
  padding: 1rem;
}

ul, summary {
  list-style: none;
}

summary {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

#settings-details summary::before {
  content: "Settings";
  display: block;
  margin-bottom: 1rem;
}

#settings-details:hover summary:hover::before {
  text-decoration: underline;
}

#settings-details[open] summary::before {
  content: "Close Settings";
  font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create custom checkbox box */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    border: none;
    border-radius: 100px;
    vertical-align: middle;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    border-radius: 1000px;
    background-color: limegreen;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: white;
  opacity: 20%;
}

details::before, details::after {
  display: none;
}

#plugin-status {
  position: relative;
  --indicator-color: green;
  margin-left: 1rem;
}

#plugin-status::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--indicator-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
}

#advanced-settings {

}